html {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  font-size: 0px;
}
.page-nav {
  padding: 90px 0px;
}
.hidden {
  margin: 0px;
}
.site-navigation {
  font-size: 14px;
  line-height: 24px;
  color: #626262;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.site-navigation {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.site-navigation li {
  display: inline-block;
  margin-right: 100px;
}
.site-navigation li:last-child {
  margin-right: 0px;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #03a9f4;
}
.features {
  display: inline-block;
  width: 420px;
  margin-bottom: 126px;
}
.features:not(:nth-last-child(2n)) {
  margin-right: 60px;
}
.content-name {
  font-size: 14px;
  color: #b4ad9e;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
}
.content-title {
  font-size: 30px;
  color: #626262;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-weight: 400;
  text-align: left;
}
.content-text {
  font-size: 14px;
  line-height: 24px;
  color: #626262;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-weight: 400;
  text-align: left;
}
button {
  padding: 20px 33px;
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-weight: 400;
}
